        @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
        * {
            margin: 0;
            padding: 0;
            font-weight: 700;
            color: #545A5C;
            box-sizing: border-box;
        }
        
        body {
            background-color: #f8f8ff;
            font-family: 'Playfair Display', serif;
        }
        
        a {
            text-decoration: none;
        }
        
        li {
            list-style: none;
        }
        
        nav {
            display: flex;
            justify-content: space-between;
            min-height: 70px;
            align-items: center;
            padding: 0 20px;
            background-color: #f5fbfd;
            box-shadow: 0px 5px 20px #cfcfcf;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
        }
        
        .nav-title a {
            font-size: 30px;
            font-family: 'Roboto Mono', monospace;
        }
        
        .hamburger {
            cursor: pointer;
        }
        
        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: #545A5C;
        }
        
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
        
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
        
        .nav-menu {
            position: fixed;
            left: -100%;
            top: 70px;
            height: 100vh;
            gap: 0;
            flex-direction: column;
            background-color: #f5fbfd;
            width: 100%;
            text-align: center;
            transition: 0.3s;
        }
        
        .nav-menu li {
            margin: 16px 0;
            width: 100%;
            font-size: 20px;
            padding: 20px;
            transition: 0.7s ease;
            font-family: 'Roboto Condensed', sans-serif;
        }
        
        .nav-menu li:hover {
            background-color: #D0D9DB;
        }
        
        .nav-menu.active {
            left: 0;
        }
        
        .login a {
            width: 100%;
            color: #b27fff;
            transition: 0.7s ease;
        }
        
        .login:hover a {
            color: #5400d1 !important;
        }
        
        .container {
            margin: 120px 0 50px 0;
            padding: 0px 20px 50px 20px;
        }
        
        .homeContainer h1 {
            font-size: 25px;
            margin: 20px 0;
            width: 300px;
        }
        
        .homeContainer a {
            padding: 10px;
            color: white;
            background-color: #b27fff;
            border-radius: 10px;
            transition: 0.7s ease;
        }
        
        .homeContainer div {
            margin: 70px 0;
        }
        
        .homeContainer img {
            width: 250px;
        }
        
        .course {
            background-color: #f5fbfd;
            box-shadow: 0px 5px 20px #cfcfcf;
            padding: 20px;
            margin: 20px;
            text-align: center;
            width: 200px;
        }
        
        .course div img {
            width: 150px;
            height: 100px;
        }
        
        .course h1 {
            font-size: 20px;
        }
        
        .course p {
            font-size: 15px;
        }
        
        .course a {
            color: #b27fff;
        }
        
        .more-course {
            text-decoration: underline;
            text-align: center;
        }
        
        @media (min-width:425px) and (max-width: 550px) {
            nav {
                padding: 0 70px;
            }
            .container {
                padding: 0px 70px 50px 70px;
            }
        }
        
        @media(min-width: 550px) and (max-width: 650px) {
            nav {
                padding: 0 70px;
            }
            .container {
                padding: 0px 170px 50px 170px;
            }
        }
        
        @media(min-width: 650px) and (max-width: 850px) {
            nav {
                padding: 0 70px;
            }
            .nav-menu {
                height: 70px;
            }
            .container {
                padding: 0px 70px 50px 70px;
            }
            .homeContainer {
                display: flex;
                justify-content: space-between;
            }
            .homeContainer a:hover {
                background-color: #f8f8ff;
                color: #b27fff;
                border: 1px solid #b27fff;
            }
            .homeContainer img {
                width: 275px;
            }
            .courses {
                display: grid;
                grid-template-columns: auto auto;
            }
        }
        
        @media (min-width:850px) {
            nav {
                padding: 0 70px;
            }
            .nav-menu {
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
                height: 70px;
                gap: 10px;
                left: 0;
                top: 0;
            }
            .nav-menu li {
                margin: 0;
                width: auto;
                font-size: 20px;
                padding: 20px;
                transition: 0.7s ease;
            }
            .hamburger {
                display: none;
            }
            .container {
                padding: 0px 70px 50px 70px;
            }
            .homeContainer {
                display: flex;
                justify-content: space-between;
            }
            .homeContainer img {
                width: 400px;
            }
            .homeContainer a:hover {
                background-color: #f8f8ff;
                color: #b27fff;
                border: 1px solid #b27fff;
            }
            .courses {
                display: grid;
                grid-template-columns: auto auto auto;
            }
        }
        
        @media (min-width:1250px) {
            nav {
                padding: 0 200px;
            }
            .nav-menu {
                gap: 30px;
            }
            .nav-menu li {
                font-size: 25px;
            }
            .container {
                padding: 0px 200px 50px 200px;
            }
            .homeContainer {
                display: flex;
                justify-content: space-between;
            }
            .homeContainer div {
                margin: 100px 0;
            }
            .homeContainer h1 {
                font-size: 30px;
            }
            .home-title {
                padding: 70px 0;
            }
            .homeContainer img {
                width: 600px;
            }
            .homeContainer a {
                font-size: 20px;
            }
            .homeContainer a:hover {
                background-color: #f8f8ff;
                color: #b27fff;
                border: 1px solid #b27fff;
            }
        }
